html {
	height:100%;

}

body {
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 30px;
	margin: 0;
}

.centerized {
	/*max-width: 960px;*/
	margin: 0 auto;
}

/*************************************************** ADMIN HEADER */



.admin-navigation {
	width: 100%;
	min-height: 100px;
}



label, input {
	display:block;
}

form {
	margin-top:20px;

}

.article-id {
	display: none;
	width:200px;
}



#maincontent {
	background-color: #F7C3C3;
	margin: 50px auto;

}

#footer {
	clear: both;
	text-align: center;
	height: 50px;
	background-color: #A5DCF2;
}

.loggedin {
	padding-left: 200px;
}

.loggedout {
	padding-left: 15px;
}

.loginform {

	width: 100%;
}

.admincontent {

}


